  .container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    color: #6a6a6a;
  }
  .container > h2 {
    color: #666;
    border-bottom: 1px solid #6a6a6a;
    padding-bottom: 10px;
    font-size: 18px;
  }
  .carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 96%;
    margin: 0 auto;
  }
  .discounted::after {
    content: "SALE";
    background-color: #eb3323;
    color: #fff;
    position: absolute;
    right: 5%;
    top: 3%;
    width: 48px;
    height: 20px;
    text-align: center;
  } 
  .discounted .product-price {
    color: #eb3323;
  }
  .product-price {
    font-weight: 700;
  }
  .secondary-price {
    font-size: 10px;
    font-style: italic;
  }
  .slick-list {
    overflow: hidden;
    min-width: 100%;
    margin: 0 auto;
  }
  .slick-track {
    display: flex;
    flex-direction: row;
  }
  .slick-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    font-size: 14px;
    position: relative;
  }
  .slick-slide p {
    text-align: center;
    margin: 14px 0 7px 0;
  }
  .slick-prev, .slick-next {
    width: 18px;
    height: 40px;
    font-size: 30px;
    background-color: transparent;
    border: none;
  }
  .slick-caret {
    width: 16px;
    max-height: 100%;
  }
  .slick-prev {
    transform: rotate(180deg);
  }
  .slick-slide > img {
    width: 100%;
    height: auto;
  }